
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #f9f9f9;
    line-height: 1.6;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ddd;
}

header h1 {
    font-size: 2rem;
    color: #444;
    font-weight: 700;
    margin-bottom: 10px;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #666;
}

section {
    margin-top: 20px;
}

article {
    margin-bottom: 30px;
}

article header h3 {
    margin-bottom: 10px;
    color: #555;
    border-left: 4px solid #0073e6;
    padding-left: 10px;
}

p {
    margin-bottom: 15px;
}

strong {
    color: #0073e6;
    font-weight: bold;
}

a {
    color: #0073e6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body.dark-mode {
    color: #f9f9f9;
    background-color: #333;
}

body.dark-mode header {
    border-bottom-color: #555;
}

body.dark-mode header h1 {
    color: #f9f9f9;
}

body.dark-mode header h3 {
    color: #ccc;
}

body.dark-mode article header h3 {
    color: #ddd;
    border-left-color: #00bcd4;
}

body.dark-mode strong {
    color: #00bcd4;
}

body.dark-mode a {
    color: #00bcd4;
}

body.dark-mode a:hover {
    color: #0073e6;
    text-decoration: underline;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    article header h3 {
        font-size: 1.2rem;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked+.slider {
    background-color: #444;
}

input:checked+.slider:before {
    transform: translateX(26px);
}

#toc {
    position: fixed;
    top: 10%;
    left: 0;
    width: 270px;
    max-height: 80%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    padding: 1.5rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transform: translateX(-110%);
    opacity: 0;
    z-index: 999;
}

#toc.visible {
    transform: translateX(0);
    opacity: 1;
}

#toc h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 1rem;
    text-align: center;

    padding-bottom: 0.5rem;
}

#toc ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#toc li {
    margin: 0.75rem 0;
}

#toc a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: #000000;
    padding: 0.5rem 0.75rem;
    display: block;
    border-radius: 8px;
    transition: background-color 0.2s ease, transform 0.2s ease;
}

#toc a:hover {
    background-color: rgba(0, 123, 255, 0.15);
    color: #0056b3;
    transform: translateX(5px);
}

#toggleTocBtn {
    position: fixed;
    top: 10%;
    left: 110px;
    z-index: 1000;
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#toggleTocBtn:hover {
    background-color: #555;
    transform: scale(1.05);
}
.icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.icon.sun {
    right: 10px;
    opacity: 1;
}

.icon.moon {
    left: 10px;
    opacity: 0;
}

body.dark-mode .icon.sun {
    opacity: 0;
}

body.dark-mode .icon.moon {
    opacity: 100;
}
body.dark-mode #toc li.toc-h2 {
    color: #000;
}